body { background: #356668; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 59px; display: flex; }
.block-validator-0 { color: #f80564; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #3061c5; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #728eca; font-size: 21px; margin-bottom: 5px; }
.block-notify-3 { color: #16161a; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #36cc23; font-size: 13px; margin-bottom: 5px; }
.block-validator-5 { color: #a532f1; font-size: 14px; margin-bottom: 5px; }
.block-cart-6 { color: #da7e02; font-size: 12px; margin-bottom: 5px; }
.block-database-7 { color: #9483a5; font-size: 15px; margin-bottom: 5px; }